/* 
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

<link rel="stylesheet" href="Z:/Dropbox/JOPLIN-css/python.css">
*/

* {
	font-family: "Cairo", sans-serif, monospace;
	font-size: 14px;
}


/*** Blockquote ***/
blockquote {
	line-height: 1.2em;
	text-align: justify;
	text-justify: inter-word;
}

blockquote.note {
    border-left: thick solid green;
    color: black;
}

blockquote.important {
    border-left: thick solid orange;
    color: black;
}

blockquote.warning {
    border-left: thick solid red;
    color: black;
}


/*** TABLE ***/
table {
	width: 100%;
	border: none;
	font-size: inherit;
}

td {
	font-size: inherit;
	vertical-align: top;
	background-color: white;
}

th {
	font-size: inherit;
	text-align: left;
	background-color: #eceff4;
}


/*** HEADINGS ***/

h2 {
	font-size: 1.2em;
	font-weight: normal;
	padding: 0;
	padding-bottom: .3em;
	text-shadow: 2px 2px 3px #ccc;
	text-align: left;
	line-height: 1em;
	margin-top: 2em;
	margin-bottom: 0;
}

hr {
	-webkit-box-shadow: 2px 2px 3px #ccc;
	-moz-box-shadow: 2px 2px 3px #ccc;
	padding: 0;
	padding-bottom: .3em;
	text-shadow: 2px 2px 3px #ccc;
	text-align: left;
	margin-top: .1em;
	margin-bottom: .1em;
	border-bottom-style: ridge;
	border-bottom-color: black;
	border-bottom-width: .1em;
	box-shadow: 2px 2px 3px #ccc;
}

h3 {
	line-height: 2em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	border-bottom-style: dashed;
	border-bottom-width: .09em;
	font-size: 1.1em;
	color: #acac1a;
}


/*** CODE ***/
pre {
	border: solid 1px;
	border-radius: .7em;
	border-color: #eceff4;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0;
}



